/* ====================
   botones.css - Estilos de Botones
   ==================== */

/* Estilos generales para todos los elementos con la clase 'button' */
.button {
  padding: 0.85rem 1.5rem;
  border: none;
  border-radius: var(--radius);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: transform var(--transition), box-shadow var(--transition);
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos específicos para el botón de 'Descargar XML' */
#saveXmlBtn {
  background: var(--primary);
  color: #fff;
}

/* El efecto hover se hereda de .button:hover, pero con una sombra más pronunciada */
#saveXmlBtn:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Estilos para el botón 'Eliminar' dentro de la tabla */
#segurosTable .button.delete {
  background: var(--primary);
  color: #fff;
  padding: 0.5rem 0.8rem;
  font-weight: 600;
}

/* El efecto hover se hereda, pero ajustamos la sombra y la traslación */
#segurosTable .button.delete:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}